<form method="POST" action=<%= helper('admin/game/create') %>>
    <div class="form-group">
        <label for="name">Nom de la partie</label>
        <input type="text" class="form-control" name="name" placeholder="Nom">
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
</form>
