HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
mvn/*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
### app ###
app/client/.idea/*
app/server/.idea/*
app/client/node_modules/*
app/server/node_modules/*
app/client/dist/*
app/server/dist/*
### VS Code ###
.vscode/
